**/__pycache__/
*.py[cod]
daemon/.pytest_cache/
daemon/build/
daemon/dist/
daemon/reports/
daemon/src/*.egg-info/
vision/.pytest_cache/
vision/build/
vision/dist/
vision/reports/
vision/src/*.egg-info/
